{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["eslint:recommended", "airbnb"],
  "parserOptions": {
      "ecmaVersion": 12,
      "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "strict": "off",
    "no-restricted-syntax": ["error", "WithStatement"],
    "no-plusplus": "off",
    "arrow-body-style": "off",
    "no-extend-native": "warn"
  }
}
